html, body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgoldenrodyellow;
}

.container {
  width: 1400px;
  margin: auto;
  display: flex;
}

input {
  background-color: darkseagreen;
}

.ReactLoading {
  margin: 300px 900px;
}

